@using Instagram.Helpers;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mạng xã hội chia sẻ ảnh</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Instagram", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "navbar-form" }))
                        {
                            <div id="bloodhound" class="form-group">
                                @Html.TextBox("searchTerm", "", new { @id = "searchTerm", @class = "form-control typeahead", placeholder = "Tìm kiếm...", data_provide = "typeahead" })
                            </div>
                        }
                    </li>

                    <li>
                        <a href="@Url.Action("Index","Home")">
                            <i class="glyphicon glyphicon-home"></i>Trang chủ
                        </a>
                    </li>
                    <li>
                        <a href="#postModel" role="button" data-toggle="modal">
                            <i class="glyphicon glyphicon-plus"></i>Thêm ảnh
                        </a>
                        @*<button id="open_btn" class="btn btn-primary">Open dialog</button>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <!-- Upload Modal -->
    <div id="postModel" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Đăng ảnh</h4>
                </div>
                @using (Html.BeginForm("PostPhoto", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "dropzone", id = "photo" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <textarea class="form-control input-lg" name="Caption" autofocus placeholder="Nội dung chú thích ảnh của bạn"></textarea>
                        <div class="dz-message" data-dz-message><span>Bạn có thể kéo ảnh hoặc click để chọn</span></div>
                    </div>
                    <div class="modal-footer">
                        @*<ul class="pull-left list-inline">
                                <li><input type="file" id="photo" name="photo" multiple accept=".jpg, .png,.jpeg, .gif" /></li>
                            </ul>*@
                        <button type="submit" class="btn btn-primary">Đăng</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Moments.vn</p>
        </footer>
    </div>
    <div id="modal-container" class="modal fade"
         tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <span id="top-link-block" class="hidden">
        <a href="#top" class="well well-sm" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
            <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
        </a>
    </span>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dropzone")
    @Scripts.Render("~/bundles/player")
    @Scripts.Render("~/bundles/autocomplete")
    @Scripts.Render("~/bundles/moment")
    @RenderSection("scripts", required: false)
    <script>
        // Only enable if the document has a long scroll bar
        // Note the window height + offset
        if (($(window).height() + 100) < $(document).height()) {
            $('#top-link-block').removeClass('hidden').affix({
                // how far to scroll down before link "slides" into view
                offset: { top: 100 }
            });
        }
    </script>
</body>
</html>
