@using Instagram.ViewModel.Feed;
@model IEnumerable<FeedViewModel>

@foreach (var feed in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="user">
                @*<a href="@Url.Action("GetUserInfo", "Home", new { userId = feed.User.UserId })" class ="modal-link">

                        <img src="@Url.Content("~/UserPhoto/Avatar/" + feed.User.Avartar)" class="img-responsive" alt="Avatar" />
                    </a>*@
                <a href="/Profile/Detail/@feed.User.UserName" title="@feed.User.FullName" data-poload="@Url.Action("GetUserInfo", "Home", new { userId = feed.User.UserId })">
                    <img src="@Url.Content("~/UserPhoto/Avatar/" + feed.User.Avartar)" class="img-responsive user-avatar" alt="Avatar" />
                </a>
                <div class="user-detail">
                    <h7><a href="/Profile/Detail/@feed.User.UserName" title="@feed.User.FullName">@feed.User.FullName</a></h7>
                    <div>@feed.CreatedTime</div>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="newsfeed">
                <div class="caption"> @feed.Caption</div>
                <div class="photo">
                    <img src="@Url.Content(feed.Files.FirstOrDefault().PhotoLink)" class="img-responsive" alt="Photo" />
                </div>
                <div class="command-link">
                    <div id="commandBox@(feed.FeedId)">
                        @Html.Partial("_CommandView", feed.FeedLikeSummary)
                    </div>
                </div>
                <div class="comment-panel">
                    <div class="comment-list">
                        <div id="commentList@(feed.FeedId)">
                            @foreach (var comment in feed.FeedComments)
                            {
                                @Html.Partial("_CommentView", comment)
                            }
                        </div>
                    </div>
                    <div class="user">
                        <a href="/Profile/Detail/@feed.User.UserName">
                            <img src="@Url.Content("~/UserPhoto/Avatar/" + feed.User.Avartar)" class="img-responsive user-avatar" alt="Avatar" />
                        </a>
                        <div class="user-detail">
                            @using (Ajax.BeginForm("Comment", new { feedId = feed.FeedId }, new AjaxOptions()
                            {
                                UpdateTargetId = "commentList" + feed.FeedId,
                                InsertionMode = InsertionMode.InsertAfter,
                                HttpMethod = "POST",
                                OnSuccess = "clearInput('commentInput" + @feed.FeedId + "')"
                            }))
                            {
                                <input type="text" name="content" id="commentInput@(feed.FeedId)" class="form-control" placeholder="Bình luận..." rows="1" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}