@using Instagram.ViewModel.Feed;
@using Instagram.Helpers;
@using Instagram.Common;
@model IEnumerable<FeedViewModel>

@foreach (var feed in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="user">
                <a href="/Profile/Detail/@feed.User.UserName" title="@feed.User.FullName" data-poload="@Url.Action("GetUserInfo", "Home", new { userId = feed.User.UserId })">
                    <img src="@Url.Content(feed.User.Avartar)" class="img-responsive user-avatar" alt="Avatar" />
                </a>
                <div class="user-detail">
                    <h7><a href="/Profile/Detail/@feed.User.UserName" title="@feed.User.FullName">@feed.User.FullName</a></h7>
                    <div>
                        <span class="local-datetime"
                              title="@(feed.CreatedTime.ToString("yyyy-MM-dd HH:mm")) UTC"
                              data-utc="@(feed.CreatedTime.GetTicks())">
                            @(feed.CreatedTime.ToString("yyyy-MM-dd HH:mm")) UTC
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="newsfeed">
                <div class="caption"> @feed.Caption</div>
                <div class="photo">
                    @if (feed.Files.Count() == 1)
                    {
                        if (feed.Files.FirstOrDefault().FileTypeId == (int)FileExtension.MP4)
                        {
                            @Html.Partial("_Player", feed)
                        }
                        else
                        {
                            <img src="@Url.Content(feed.Files.FirstOrDefault().PhotoLink)" class="img-responsive" alt="Photo" />
                        }
                    }

                    else
                    {
                        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                @for (int i = 0; i < feed.Files.Count(); i++)
                                {
                                    <li data-target="#myCarousel" data-slide-to="@(i)" class="@(i == 0 ? "active" : string.Empty)"></li>
                                }
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                @for (int i = 0; i < feed.Files.Count(); i++)
                                {
                                    <div class="item @(i == 0 ? "active" : string.Empty)">
                                        <img src="@Url.Content(feed.Files.ElementAt(i).PhotoLink)" alt="@feed.Files.ElementAt(i).FileName">
                                    </div>
                                }
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    }
                </div>
                <div class="command-link">
                    <div id="commandBox@(feed.FeedId)" class="commandBox">
                        @Html.Partial("_CommandView", feed.FeedLikeSummary)
                    </div>
                </div>
                <div class="comment-panel">
                    <div class="comment-list">
                        <div id="commentList@(feed.FeedId)">
                            @foreach (var comment in feed.FeedComments)
                            {
                                @Html.Partial("_CommentView", comment)
                            }
                        </div>
                    </div>
                    <div class="user">
                        <a href="/Profile/Detail/@ViewBag.UserName">
                            <img src="@Url.Content(ViewBag.Avartar)" class="img-responsive user-avatar" alt="Avatar" />
                        </a>
                        <div class="user-detail">
                            @using (Ajax.BeginForm("Comment", new { feedId = feed.FeedId }, new AjaxOptions()
                            {
                                UpdateTargetId = "commentList" + feed.FeedId,
                                InsertionMode = InsertionMode.InsertAfter,
                                HttpMethod = "POST",
                                OnSuccess = "clearInput('commentInput" + @feed.FeedId + "')"
                            }))
                            {
                                <input type="text" name="content" id="commentInput@(feed.FeedId)" class="form-control" placeholder="Bình luận..." rows="1" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}